body {
    background: rgba(11, 81, 212, 0.918);
}

.welcome {
    margin-top: 20%;
}

.points {
    margin-top: 10%;
}

button {
    cursor: pointer;
}

#qw {
    display: none;
}

#count-down {
    padding: 10px 10px;
    border-radius: 3%;
    color: white;
    font-weight: 800;
}